<h1>Login</h1>

<%= form_tag '/login' do %>

  <label for="inputEmail" class="form-label">Email address</label> 
  <div> <%= text_field_tag :email %> </div>
  <label for="inputPassword" class="form-label">Password</label>  
  <div> <%= password_field_tag :password %> </div>
  <button type="submit" class="btn btn-primary">Submit</button>

<% end %>