<h1>Admin Dashboard</h1>
<h3> Total <%= link_to 'Products', 'admin/products' %>: <%= @dashboard[:number_of_products] %> </h3> 
<h3> Total <%= link_to 'Categories', 'admin/categories' %>: <%= @dashboard[:number_of_categories] %>  </h3>
